@charset "utf-8";

html {
    height: auto;
}

body {
    background: #0F1A46;
    background-image: linear-gradient(180deg, rgba(15, 26, 70, 1) 0%, rgba(51, 79, 170, 1) 75%, rgba(197, 217, 254, 1) 100%);
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
